.first_container {
  display: grid;
  grid-template-columns: auto auto;
  grid-column-gap: 5em;
  padding-top: 5em;
}
.first_content h1 {
  margin-bottom: 1em;
}

.first_content {
  padding-top: 7em;
}

.second_container{
    grid-template-columns: 1fr 1fr;
}